 *{
  margin: 0px;
  padding:0px   
 }
 /* #boundary{
     background-color: 180% yellow;
 } */
#header{
    height: 100%;
    width:100;
    
}
nav{
    display:flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
flex:10px;
text-align: right;
}
.nav-links ul li{
list-style: none;
padding:10px 30px;
text-align:right;
display:inline-block;
position:relative
}
.logo{
    font-family: 'Niconne', cursive;
    font-size: 50px;
}
.logo-text{
    color:#F6B400;
    font-size: 50px;
}
.nav-links ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.nav-links-page::after{
    content:'';
    width: 100%;
    height:4px;
    background: #f44336;
    display: block;
    margin: auto;
}
.text-box{
    width:40%;
    position:absolute;
    transform:translate(50% 50%);
    text-align: center;
}
.text-box a{
float: right;
transform: translate(200%);
position:relative;bottom:100px;
}
.text-box h1{
    width:28%;
    position:relative;top:90px;
    transform: translate(70%);
    font-size: 27px;
}
.text-box p{
    width:45%;
    position:relative;top: 130px;
    transform: translate(40%); 
    font-family: 'Poppins', sans-serif;;
}
.text-box button{
    padding:10px 20px;
    position:relative; top: 200px; left: 50px;
    text-align: center;
    background-color:  #F6B400;
    border-radius: 15px 15px 0px 15px;
    border-color: transparent;
    color: whitesmoke;
}

.description{
    height: 490px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    position:relative; 
    font-size: small;
    top: 500px; 
    left: 60px;
    background-color: rgb(196, 218, 215);
}
.quality{
    border-style: solid;
    border-color:  rgb(216, 120, 51);
    padding: 20px 10px;
    margin: 150px 30px 20px 30px;

}
.delivery{
    border-style: solid;
    border-color: rgb(216, 120, 51);
    padding: 20px 40px;
    margin: 150px 30px 20px 30px;
    
    

}  
.quality{
    border-style: solid;
    border-color:rgb(216, 120, 51) ;
    padding: 20px -0px;
    margin: 150px 30px 20px 30px;
}
.card-title{
    font-family: sans-serif;
    font-size: large;
    color: sienna;
    text-align: center;
}
.card-img-top{
    margin-left: 150px;
    border-color: wheat;
}
    