 *{
  margin: 0px;
  padding:0px;

 }
 
#header{
    height: 100%;
    width:100;

    
}
nav{
    display:flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
flex:10px;
text-align: right;
}
.nav-links ul li{
list-style: none;
padding:10px 30px;
text-align:right;
display:inline-block;
position:relative
}
.logo{
    font-family: 'Niconne', cursive;
    font-size: 50px;
}
.logo-text{
    color:#F6B400;
    font-size: 50px;
}
.nav-links ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.nav-links-page::after{
    content:'';
    width: 100%;
    height:4px;
    background: #f44336;
    display: block;
    margin: auto;
}
.text-box{
    width:40%;
    position:absolute;
    transform:translate(50% 50%);
    text-align: center;
}
.text-box a{
float: right;
transform: translate(200%);
position:relative;bottom:100px;
}
.text-box h1{
    width:28%;
    position:relative;top:90px;
    transform: translate(70%);
    font-size: 27px;
}
.text-box p{
    width:45%;
    position:relative;top: 130px;
    transform: translate(40%); 
    font-family: 'Poppins', sans-serif;;
}
.text-box button{
    padding:10px 20px;
    position:relative; top: 200px; left: 50px;
    text-align: center;
    background-color:  #F6B400;
    border-radius: 15px 15px 0px 15px;
    border-color: transparent;
    color: whitesmoke;
}
#pounds{
    background-color: blue;
}

.description{
    height: 490px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    font-size: small;
    top: 500px; 
    background-color: #F7FDF6;
    
    
}
.delivery{
    border-style: solid;
    border-color: rgb(216, 120, 51);
    padding: 90px 10px 30px 10px;
    margin: 50px 30px;
    border-radius: 15px;
    text-align: center;

    
    

}  
.quality{
    border-style: solid;
    border-color:rgb(216, 120, 51) ;
    padding-top: 80px;
    margin: 100px 60px;
    border-radius: 15px;

}
.card-title{
    font-family: sans-serif;
    font-size: large;
    color: sienna;
    text-align: center;
}
.card-img-top{
    margin-left: 150px;
    border-color: wheat;
}
.card-text{
    text-align: center;
    font-size: small;
    margin: 20px 90px;
}
.quality , .delivery{
    align-items: center;
}
.menu-bar{
    position:relative; margin-top: 580px;
    margin-left: 690px;   
}
.menu-bar::after{
    content:'';
    width: 10%;
    height:5px;
    background: #F6B400;
    display: block;
    margin-left: 5.3%;
}
.menu-color{
    color: #F6B400;
    text-align: center;
}

/* #row2{
        float: right;
        width: 33.33%;
        padding: 5px;

} */

#menu{
    position: relative;
    top: 500px;
}
#menu h1{
    text-align: center;
}

#row,#row2{
    display: flex;
    justify-content: center;

}
.column-container-xs{
    width: 45%;
    border-style: solid;
    border-color: rgb(216, 120, 51);
    margin:20px 10px;
    border-radius: 15px;
    text-align: center;
    align-content: center;
    position:relative;top:50px;
    display: flex;
    flex-wrap: wrap;
}
.cart{

    padding: 30px;
    color: blue;
}
.shillings{
    position:relative;top:20px;  
}

 
.justify{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}
#more-info {
    position: relative;
    top: 500px;
    background-color:unset;
    border-block-start-color: violet;
    
}
.yummy{
    display: flex;
    margin-top: 225px;
    float:right;
    
}
.gold{
    position: relative; left:500px; top:180px;
}
.footer{
    position: relative; left:300px; top:500px;
}
.footer-one{
    font-size: 30px;
    padding:20px ;
}
.bronze{
    color:#FFBE41;
}
.footer-two{
    font-weight:100px;
    font-size: 16px;
    padding: 15px;
    
}
.leap{
    background: pink;
   
}
.dots{
    font-size:100px;
    padding: 60px;
}
#communication{
    background-color:#F6B400; 
    height: 925px;
    margin-top: 1125px;
    margin-bottom: 925px;
}
.super{
    display: flex;
    margin-top: 15px;
    float: right;
    justify-content: space-around; 
    height: 300px;
    position: relative; right:30px;
    
}
.app{
    display:flex;
    position: relative; top:500px;
    justify-content: space-around;
}
#communication h1{
    font-size:45px;
    position: relative; top:400px;
    margin-left: 30px;
    font-weight: bolder;
    font-family: inherit;
}
.banner-one{
    position: relative; right:30px;
    border-radius: 10% 10% 10% 10%;
}
.banner-two{
    border-radius: 10% 10% 10% 10%;
}
#wipes{
    background-color: #F7FDF6;
    margin-top: 920px;
    position: relative; bottom:920px;
}
